
{
  "version": 6,
  "include": ["CMakePresets.json"],
  "configurePresets": [
    {
      "name": "dev-local-openblas",
      "displayName": "Dev (Local OpenBLAS)",
      "inherits": "dev",
      "cacheVariables": {
        "CMAKE_C_COMPILER": "/opt/homebrew/bin/gcc-15",
        "CMAKE_CXX_COMPILER": "/opt/homebrew/bin/g++-15",
        "CMAKE_OSX_SYSROOT": "macosx",
        "CMAKE_PREFIX_PATH": "/opt/homebrew/opt/openblas"
      }
    },
    {
      "name": "release-local-openblas",
      "displayName": "Release (No Tests, Local OpenBLAS)",
      "inherits": "release",
      "cacheVariables": {
        "CMAKE_C_COMPILER": "/opt/homebrew/bin/gcc-15",
        "CMAKE_CXX_COMPILER": "/opt/homebrew/bin/g++-15",
        "CMAKE_OSX_SYSROOT": "macosx",
        "CMAKE_PREFIX_PATH": "/opt/homebrew/opt/openblas"
      }
    }
  ],
  "buildPresets": [
    {
      "name": "dev-local-openblas",
      "configurePreset": "dev-local-openblas"
    },
    {
      "name": "release-local-openblas",
      "configurePreset": "release-local-openblas"
    }
  ]
}
